@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.People>

@{
    ViewBag.Title = "Index";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "cos1",
        LoadingElementId = "cos2",
        LoadingElementDuration = 5000,
        Confirm = "Realizujesz zadanie bar...",
        Url = Url.Action("GetFruDate"),
    };
}

<script>

    function CallChangefunc(selectedSex) {
         $.ajax({
             url: "@Url.Action("GetPeople", "All")",
             data: { selectedSex: selectedSex },
            type: "Get",
            dataType: "html",
             success: function (data) {
                 console.log(data);
                //Whatever result you have got from your controller with html partial view replace with a specific html.
                $("#myPartialView").html( data ); // HTML DOM replace
            }
        });
    }

</script>

<h2>Index</h2>

    <div>
        @Html.DropDownList("selectedSex", new SelectList(
            new string[] { "ALL", "K", "M" }))
        <button type="submit">Find</button>
    </div>
    <div id="myPartialView">
        @{Html.RenderPartial("GetPeople", Model);}
    </div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sex)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPeople }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdPeople }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdPeople })
            </td>
        </tr>
    }

</table>
